*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}


body{ 
    -moz-user-select: none;  
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none;  
    user-select: none; 
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.question-form{
    margin: 130px auto 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid gray;
    width: 70%;
    padding: 20px 25px;
}


progress{
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.answer{
    margin-bottom: 10px;
}

.btnSend{
    padding: 10px;
    margin:  5px 0px;
    background-color: antiquewhite;
    cursor: pointer;
    color: gray;
    border-radius: 10px;
    border: 3px solid gray;
}

.btnSend:hover{
    background-color: gray;
    color: antiquewhite;
    transition: all ease .3s;
}


.btnRestart{
    padding: 10px;
    margin:  5px 0px;
    background-color: antiquewhite;
    cursor: pointer;
    color: gray;
    border-radius: 10px;
    border: 3px solid gray;
}

.btnRestart:hover{
    background-color: gray;
    color: antiquewhite;
    transition: all ease .3s;
}


.itsInput{
    height: 30px;
}

.resourceForImg{
    margin-bottom: 15px;
}

.img_logo{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.title{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-align: center;
}

